# SQL

In [2]:
%load_ext sql
%sql sqlite:///northwind.db

In [3]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## SQL Tutorial

### SQL Intro

In [4]:
%%sql
SELECT * FROM Customers LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 (5, 'BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

### SQL Select

In [5]:
%%sql
SELECT CustomerName, City FROM Customers LIMIT 5;

 * sqlite:///northwind.db
Done.

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.'),
 ('Around the Horn', 'London'),
 ('Berglunds snabbköp', 'Luleå')]

In [6]:
%%sql
SELECT * FROM Customers LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 (5, 'BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

### SQL Select Distinct

In [7]:
%%sql
SELECT DISTINCT Country FROM Customers LIMIT 50;

 * sqlite:///northwind.db
Done.

[('Germany',),
 ('Mexico',),
 ('UK',),
 ('Sweden',),
 ('France',),
 ('Spain',),
 ('Canada',),
 ('Argentina',),
 ('Switzerland',),
 ('Brazil',),
 ('Austria',),
 ('Italy',),
 ('Portugal',),
 ('USA',),
 ('Venezuela',),
 ('Ireland',),
 ('Belgium',),
 ('Norway',),
 ('Denmark',),
 (None,),
 ('Finland',),
 ('Poland',)]

In [8]:
%%sql
SELECT Country FROM Customers LIMIT 50;

 * sqlite:///northwind.db
Done.

[('Germany',),
 ('Mexico',),
 ('Mexico',),
 ('UK',),
 ('Sweden',),
 ('Germany',),
 ('France',),
 ('Spain',),
 ('France',),
 ('Canada',),
 ('UK',),
 ('Argentina',),
 ('Mexico',),
 ('Switzerland',),
 ('Brazil',),
 ('UK',),
 ('Germany',),
 ('France',),
 ('UK',),
 ('Austria',),
 ('Brazil',),
 ('Spain',),
 ('France',),
 ('Sweden',),
 ('Germany',),
 ('France',),
 ('Italy',),
 ('Portugal',),
 ('Spain',),
 ('Spain',),
 ('Brazil',),
 ('USA',),
 ('Venezuela',),
 ('Brazil',),
 ('Venezuela',),
 ('USA',),
 ('Ireland',),
 ('UK',),
 ('Germany',),
 ('France',),
 ('France',),
 ('Canada',),
 ('USA',),
 ('Germany',),
 ('USA',),
 ('Venezuela',),
 ('Venezuela',),
 ('USA',),
 ('Italy',),
 ('Belgium',)]

In [9]:
%%sql
SELECT COUNT(DISTINCT Country) FROM Customers;

 * sqlite:///northwind.db
Done.

[(21,)]

### SQL Where

In [10]:
%%sql
SELECT * FROM Customers
WHERE Country = "Mexico";

 * sqlite:///northwind.db
Done.

[(2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (13, 'CENTC', 'Centro comercial Moctezuma', 'Francisco Chang', 'Marketing Manager', 'Sierras de Granada 9993', 'México D.F.', 'Central America', '05022', 'Mexico', '(5) 555-3392', '(5) 555-7293'),
 (58, 'PERIC', 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Sales Representative', 'Calle Dr. Jorge Cash 321', 'México D.F.', 'Central America', '05033', 'Mexico', '(5) 552-3745', '(5) 545-3745'),
 (80, 'TORTU', 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Owner', 'Avda. Azteca 123', 'México D.F.', 'Central America', '05033', 'Mexico', '(5) 555-2933', None)]