# SQL

In [2]:
%load_ext sql
%sql sqlite:///northwind.db

In [3]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## SQL Tutorial

### SQL Intro

In [4]:
%%sql
SELECT * FROM Customers LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 (5, 'BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

### SQL Select

In [5]:
%%sql
SELECT CustomerName, City FROM Customers LIMIT 5;

 * sqlite:///northwind.db
Done.

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.'),
 ('Around the Horn', 'London'),
 ('Berglunds snabbköp', 'Luleå')]

In [6]:
%%sql
SELECT * FROM Customers LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 (5, 'BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

### SQL Select Distinct

In [7]:
%%sql
SELECT DISTINCT Country FROM Customers LIMIT 50;

 * sqlite:///northwind.db
Done.

[('Germany',),
 ('Mexico',),
 ('UK',),
 ('Sweden',),
 ('France',),
 ('Spain',),
 ('Canada',),
 ('Argentina',),
 ('Switzerland',),
 ('Brazil',),
 ('Austria',),
 ('Italy',),
 ('Portugal',),
 ('USA',),
 ('Venezuela',),
 ('Ireland',),
 ('Belgium',),
 ('Norway',),
 ('Denmark',),
 (None,),
 ('Finland',),
 ('Poland',)]

In [8]:
%%sql
SELECT Country FROM Customers LIMIT 50;

 * sqlite:///northwind.db
Done.

[('Germany',),
 ('Mexico',),
 ('Mexico',),
 ('UK',),
 ('Sweden',),
 ('Germany',),
 ('France',),
 ('Spain',),
 ('France',),
 ('Canada',),
 ('UK',),
 ('Argentina',),
 ('Mexico',),
 ('Switzerland',),
 ('Brazil',),
 ('UK',),
 ('Germany',),
 ('France',),
 ('UK',),
 ('Austria',),
 ('Brazil',),
 ('Spain',),
 ('France',),
 ('Sweden',),
 ('Germany',),
 ('France',),
 ('Italy',),
 ('Portugal',),
 ('Spain',),
 ('Spain',),
 ('Brazil',),
 ('USA',),
 ('Venezuela',),
 ('Brazil',),
 ('Venezuela',),
 ('USA',),
 ('Ireland',),
 ('UK',),
 ('Germany',),
 ('France',),
 ('France',),
 ('Canada',),
 ('USA',),
 ('Germany',),
 ('USA',),
 ('Venezuela',),
 ('Venezuela',),
 ('USA',),
 ('Italy',),
 ('Belgium',)]

In [9]:
%%sql
SELECT COUNT(DISTINCT Country) FROM Customers;

 * sqlite:///northwind.db
Done.

[(21,)]

### SQL Where

In [10]:
%%sql
SELECT * FROM Customers
WHERE Country = "Mexico";

 * sqlite:///northwind.db
Done.

[(2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (13, 'CENTC', 'Centro comercial Moctezuma', 'Francisco Chang', 'Marketing Manager', 'Sierras de Granada 9993', 'México D.F.', 'Central America', '05022', 'Mexico', '(5) 555-3392', '(5) 555-7293'),
 (58, 'PERIC', 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Sales Representative', 'Calle Dr. Jorge Cash 321', 'México D.F.', 'Central America', '05033', 'Mexico', '(5) 552-3745', '(5) 545-3745'),
 (80, 'TORTU', 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Owner', 'Avda. Azteca 123', 'México D.F.', 'Central America', '05033', 'Mexico', '(5) 555-2933', None)]

In [11]:
%%sql
SELECT * FROM Customers
WHERE CustomerID = 1;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545')]

In [12]:
%%sql
SELECT * FROM Customers
WHERE CustomerID > 80;

 * sqlite:///northwind.db
Done.

[(81, 'TRADH', 'Tradição Hipermercados', 'Anabela Domingues', 'Sales Representative', 'Av. Inês de Castro, 414', 'Sao Paulo', 'South America', '05634-030', 'Brazil', '(11) 555-2167', '(11) 555-2168'),
 (82, 'TRAIH', "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', 'Sales Associate', '722 DaVinci Blvd.', 'Kirkland', 'North America', '98034', 'USA', '(206) 555-8257', '(206) 555-2174'),
 (83, 'VAFFE', 'Vaffeljernet', 'Palle Ibsen', 'Sales Manager', 'Smagsloget 45', 'Århus', 'Northern Europe', '8200', 'Denmark', '86 21 32 43', '86 22 33 44'),
 (84, 'Val2 ', 'IT', 'Val2', 'IT', None, None, None, None, None, None, None),
 (85, 'VALON', 'IT', 'Valon Hoti', 'IT', None, None, None, None, None, None, None),
 (86, 'VICTE', 'Victuailles en stock', 'Mary Saveley', 'Sales Agent', '2, rue du Commerce', 'Lyon', 'Western Europe', '69004', 'France', '78.32.54.86', '78.32.54.87'),
 (87, 'VINET', 'Vins et alcools Chevalier', 'Paul Henriot', 'Accounting Manager', "59 rue de l'Abbaye", 'Reims', 'Western Europe', '51100', 'France', '26.47.15.10', '26.47.15.11'),
 (88, 'WANDK', 'Die Wandernde Kuh', 'Rita Müller', 'Sales Representative', 'Adenauerallee 900', 'Stuttgart', 'Western Europe', '70563', 'Germany', '0711-020361', '0711-035428'),
 (89, 'WARTH', 'Wartian Herkku', 'Pirkko Koskitalo', 'Accounting Manager', 'Torikatu 38', 'Oulu', 'Scandinavia', '90110', 'Finland', '981-443655', '981-443655'),
 (90, 'WELLI', 'Wellington Importadora', 'Paula Parente', 'Sales Manager', 'Rua do Mercado, 12', 'Resende', 'South America', '08737-363', 'Brazil', '(14) 555-8122', None),
 (91, 'WHITC', 'White Clover Markets', 'Karl Jablonski', 'Owner', '305 - 14th Ave. S. Suite 3B', 'Seattle', 'North America', '98128', 'USA', '(206) 555-4112', '(206) 555-4115'),
 (92, 'WILMK', 'Wilman Kala', 'Matti Karttunen', 'Owner/Marketing Assistant', 'Keskuskatu 45', 'Helsinki', 'Scandinavia', '21240', 'Finland', '90-224 8858', '90-224 8858'),
 (93, 'WOLZA', 'Wolski  Zajazd', 'Zbyszek Piestrzeniewicz', 'Owner', 'ul. Filtrowa 68', 'Warszawa', 'Eastern Europe', '01-012', 'Poland', '(26) 642-7012', '(26) 642-7012')]

### SQL Order By

In [13]:
%%sql
SELECT * FROM Products
ORDER BY Price LIMIT 5;

 * sqlite:///northwind.db
Done.

[(33, 'Geitost', 15, 4, '500 g', 2.5, 112, 0, 20, '0'),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 4.5, 20, 0, 0, '1'),
 (13, 'Konbu', 6, 8, '2 kg box', 6, 24, 0, 5, '0'),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7, 38, 0, 25, '0'),
 (54, 'Tourtière', 25, 6, '16 pies', 7.45, 21, 0, 10, '0')]

In [14]:
%%sql
SELECT * FROM Products
ORDER BY Price DESC LIMIT 5;

 * sqlite:///northwind.db
Done.

[(38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5, 17, 0, 15, '0'),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79, 0, 0, 0, '1'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 29, 0, 0, '1'),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81, 40, 0, 0, '0'),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5, 42, 0, 0, '0')]

In [15]:
%%sql
SELECT * FROM Products
ORDER BY ProductName LIMIT 5;

 * sqlite:///northwind.db
Done.

[(17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39, 0, 0, 0, '1'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, '0'),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18.4, 123, 0, 30, '0'),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34, 19, 0, 0, '0'),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5, 42, 0, 0, '0')]

In [16]:
%%sql
SELECT * FROM Products
ORDER BY ProductName DESC LIMIT 5;

 * sqlite:///northwind.db
Done.

[(47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 9.5, 36, 0, 0, '0'),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33.25, 22, 80, 30, '0'),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43.9, 24, 0, 5, '0'),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16.25, 65, 0, 30, '0'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30, 15, 0, 10, '0')]

In [17]:
%%sql
SELECT * FROM Customers 
ORDER BY Country, CustomerName LIMIT 5;

 * sqlite:///northwind.db
Done.

[(84, 'Val2 ', 'IT', 'Val2', 'IT', None, None, None, None, None, None, None),
 (85, 'VALON', 'IT', 'Valon Hoti', 'IT', None, None, None, None, None, None, None),
 (12, 'CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Sales Agent', 'Cerrito 333', 'Buenos Aires', 'South America', '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892'),
 (54, 'OCEAN', 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Sales Agent', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', 'South America', '1010', 'Argentina', '(1) 135-5333', '(1) 135-5535'),
 (64, 'RANCH', 'Rancho grande', 'Sergio Gutiérrez', 'Sales Representative', 'Av. del Libertador 900', 'Buenos Aires', 'South America', '1010', 'Argentina', '(1) 123-5555', '(1) 123-5556')]

In [18]:
%%sql
SELECT * FROM Customers
ORDER BY Country ASC, CustomerName DESC LIMIT 5;

 * sqlite:///northwind.db
Done.

[(84, 'Val2 ', 'IT', 'Val2', 'IT', None, None, None, None, None, None, None),
 (85, 'VALON', 'IT', 'Valon Hoti', 'IT', None, None, None, None, None, None, None),
 (64, 'RANCH', 'Rancho grande', 'Sergio Gutiérrez', 'Sales Representative', 'Av. del Libertador 900', 'Buenos Aires', 'South America', '1010', 'Argentina', '(1) 123-5555', '(1) 123-5556'),
 (54, 'OCEAN', 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Sales Agent', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', 'South America', '1010', 'Argentina', '(1) 135-5333', '(1) 135-5535'),
 (12, 'CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Sales Agent', 'Cerrito 333', 'Buenos Aires', 'South America', '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892')]

### SQL And

In [20]:
%%sql
SELECT *
FROM Customers
WHERE Country = "Spain" AND CustomerName LIKE 'G%';

 * sqlite:///northwind.db
Done.

[(29, 'GALED', 'Galería del gastrónomo', 'Eduardo Saavedra', 'Marketing Manager', 'Rambla de Cataluña, 23', 'Barcelona', 'Southern Europe', '08022', 'Spain', '(93) 203 4560', '(93) 203 4561'),
 (30, 'GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Sales Manager', 'C/ Romero, 33', 'Sevilla', 'Southern Europe', '41101', 'Spain', '(95) 555 82 82', None)]

In [22]:
%%sql
SELECT * FROM Customers
WHERE Country = "Brazil"
AND City = "Rio de Janeiro"
AND CustomerID > 50;

 * sqlite:///northwind.db
Done.

[(61, 'QUEDE', 'Que Delícia', 'Bernardo Batista', 'Accounting Manager', 'Rua da Panificadora, 12', 'Rio de Janeiro', 'South America', '02389-673', 'Brazil', '(21) 555-4252', '(21) 555-4545'),
 (67, 'RICAR', 'Ricardo Adocicados', 'Janete Limeira', 'Assistant Sales Agent', 'Av. Copacabana, 267', 'Rio de Janeiro', 'South America', '02389-890', 'Brazil', '(21) 555-3412', None)]

In [25]:
%%sql
SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE "G%" OR CustomerName LIKE "R%");

 * sqlite:///northwind.db
Done.

[(29, 'GALED', 'Galería del gastrónomo', 'Eduardo Saavedra', 'Marketing Manager', 'Rambla de Cataluña, 23', 'Barcelona', 'Southern Europe', '08022', 'Spain', '(93) 203 4560', '(93) 203 4561'),
 (30, 'GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Sales Manager', 'C/ Romero, 33', 'Sevilla', 'Southern Europe', '41101', 'Spain', '(95) 555 82 82', None),
 (69, 'ROMEY', 'Romero y tomillo', 'Alejandra Camino', 'Accounting Manager', 'Gran Vía, 1', 'Madrid', 'Southern Europe', '28001', 'Spain', '(91) 745 6200', '(91) 745 6210')]

In [27]:
%%sql
SELECT *
FROM Customers
WHERE Country = "Spain" AND CustomerName LIKE "%G" OR CustomerName LIKE "%R";

 * sqlite:///northwind.db
Done.

[(12, 'CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Sales Agent', 'Cerrito 333', 'Buenos Aires', 'South America', '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892'),
 (18, 'DUMON', 'Du monde entier', 'Janine Labrune', 'Owner', '67, rue des Cinquante Otages', 'Nantes', 'Western Europe', '44000', 'France', '40.67.88.88', '40.67.89.89'),
 (28, 'FURIB', 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Sales Manager', 'Jardim das rosas n. 32', 'Lisboa', 'Southern Europe', '1675', 'Portugal', '(1) 354-2534', '(1) 354-2535'),
 (59, 'PICCO', 'Piccolo und mehr', 'Georg Pipps', 'Sales Manager', 'Geislweg 14', 'Salzburg', 'Western Europe', '5020', 'Austria', '6562-9722', '6562-9723'),
 (87, 'VINET', 'Vins et alcools Chevalier', 'Paul Henriot', 'Accounting Manager', "59 rue de l'Abbaye", 'Reims', 'Western Europe', '51100', 'France', '26.47.15.10', '26.47.15.11')]